.site-main .block.container--posts {
    margin-top: -14px;
}

.site-main .container--posts .content .blog {
    overflow: hidden;
    width: var(--width--posts-slideshow--wrapper);
}

.site-main .container--posts .content .blog .posts {
    display: grid;
    gap: 0;
    width: var(--width--posts--slideshow);
    grid-template-columns: repeat(8, 1fr);
}

.site-main .container--posts .content .blog .posts .archive-post {
    display: var(--display--archive-post--posts);
    gap: 22px;
    width: var(--width--slideshow--post);
}

.site-main .container--posts .content .blog .posts .archive-post .archive-post--header .thumbnail {
    margin-bottom: var(--margin-bottom--archive-post--thumbnail);
    width: var(--max-width--archive-post--thumbnail);
}

.site-main .container--posts .content .blog .posts .archive-post .archive-post--content {
    display: grid;
    grid-template-rows: auto 1fr auto;
}

.site-main .container--posts .content .blog .posts .archive-post .archive-post--content p {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    overflow: hidden;
    -webkit-mask-image: linear-gradient(to bottom, black 60%, transparent 100%);
    mask-image: linear-gradient(to bottom, black 60%, transparent 100%);
    margin-bottom: 0;
    margin-top: 9px;
}


.site-main .container--posts .content .blog .posts .archive-post .archive-post--content .read-more {
    display: none;
}

@media (min-width: 1024px) {

}
