/* títulos */
#main .container .title-wrapper.section{margin-bottom:20px;overflow:hidden;}
#main .container .title-wrapper.section .title{position:relative;margin-bottom:20px;display:inline-block;}
#main .container .title-wrapper.section .title:after{position:absolute;top:50%;left:calc(100% + 16px);width:1000px;content:'';height:2px;background-color:var(--wp--preset--color--line);}

/* botones */
#main .container .buttons-wrapper.section{position:relative;}
#main .container .buttons-wrapper.section .slideshow-buttons{position:absolute;top:0;right:0;display:flex; gap:2px; padding-left:20px; background-color:var(--wp--preset--color--background);}
#main .container .buttons-wrapper.section .slideshow-buttons .products--button{display:grid; place-content:center; width:27px; height:29px; background-color:#f2f2f2; color:#999; border:none; transition:all .3s ease;}
#main .container .buttons-wrapper.section .slideshow-buttons .products--button:hover{background-color:var(--wp--preset--color--primary-color-emphasis); color:var(--wp--preset--color--text);}
#main .container .buttons-wrapper.section .slideshow-buttons .products--button.disable{opacity:.5;}
#main .container .buttons-wrapper.section .slideshow-buttons .products--button.disable:hover{background-color:#f2f2f2; color:#999;}

/* slideshow · productos destacados */
#main .container .slideshow.section{width:100%;}
#main .container .slideshow.section .slideshow-products--wrapper .woocommerce{width:100%;position:relative;overflow:hidden;}
#main .container .slideshow.section .slideshow-products--wrapper .woocommerce .products{width:400%;grid-template-columns:repeat(8, 1fr);gap:0;}

/* más vendidos */
.best-selling ul.products li .product-card__buttons :is(.button.product_type_simple.add_to_cart_button.ajax_add_to_cart,.button.button.product_type_variable.add_to_cart_button,.button.product_type_simple){
    font-size:.8125rem;
    height:calc(1.5rem + 2px);
    padding:.25rem .5625rem;
    line-height:1.25;
}

/* más nuevos */
#main .container .arrivals.slideshow.section{width:var(--breakpoint);}
#main .container .arrivals.slideshow.section .slideshow-products--wrapper .woocommerce{width:calc(100% + 14px);}
#main .container .arrivals.slideshow.section .slideshow-products--wrapper .woocommerce .products{width:600%;grid-template-columns:repeat(6, 1fr);grid-auto-rows: minmax(100px, auto);}
#main .container .arrivals.slideshow.section .slideshow-products--wrapper .woocommerce .products .product{width:calc(100% - 14px);margin-bottom:14px;}
#main .container .arrivals.slideshow.section .slideshow-products--wrapper .woocommerce .products .product:nth-child(1){grid-column:1/2;grid-row:1/2;}
#main .container .arrivals.slideshow.section .slideshow-products--wrapper .woocommerce .products .product:nth-child(2){grid-column:1/2;grid-row:2/3;}
#main .container .arrivals.slideshow.section .slideshow-products--wrapper .woocommerce .products .product:nth-child(3){grid-column:2/3;grid-row:1/2;}
#main .container .arrivals.slideshow.section .slideshow-products--wrapper .woocommerce .products .product:nth-child(4){grid-column:2/3;grid-row:2/3;}
#main .container .arrivals.slideshow.section .slideshow-products--wrapper .woocommerce .products .product:nth-child(5){grid-column:3/4;grid-row:1/2;}
#main .container .arrivals.slideshow.section .slideshow-products--wrapper .woocommerce .products .product:nth-child(6){grid-column:3/4;grid-row:2/3;}
#main .container .arrivals.slideshow.section .slideshow-products--wrapper .woocommerce .products .product:nth-child(7){grid-column:4/5;grid-row:1/2;border:1px solid #fff;}
#main .container .arrivals.slideshow.section .slideshow-products--wrapper .woocommerce .products .product:nth-child(8){grid-column:4/5;grid-row:2/3;border:1px solid #fff;}
#main .container .arrivals.slideshow.section .slideshow-products--wrapper .woocommerce .products .product:nth-child(9){grid-column:5/6;grid-row:1/2;border:1px solid #fff;}
#main .container .arrivals.slideshow.section .slideshow-products--wrapper .woocommerce .products .product:nth-child(10){grid-column:5/6;grid-row:2/3;border:1px solid #fff;}
#main .container .arrivals.slideshow.section .slideshow-products--wrapper .woocommerce .products .product:nth-child(11){grid-column:6/7;grid-row:1/2;}
#main .container .arrivals.slideshow.section .slideshow-products--wrapper .woocommerce .products .product:nth-child(12){grid-column:6/7;grid-row:2/3;}
#main .container .arrivals.slideshow.section .slideshow-products--wrapper .woocommerce .products .product .products-list__item{grid-template-columns:120px 1fr;grid-template-rows:1fr auto;}
#main .container .arrivals.slideshow.section .slideshow-products--wrapper .woocommerce .products .product .products-list__item .product-card__buttons{display:none;}
#main .container .arrivals.slideshow.section .slideshow-products--wrapper .woocommerce .products .product:hover .products-list__item .product-card__buttons{bottom:0;padding:0 18px 18px 18px;border:none!important;}
#main .container .arrivals.slideshow.section .slideshow-products--wrapper .woocommerce .products .product .products-list__item .woocommerce-LoopProduct-link.woocommerce-loop-product__link{grid-row:1/3;}

/* slideshow · últimas promociones */
#main .container .sale-products.slideshow.section{width:var(--breakpoint);}
#main .container .sale-products.slideshow.section .slideshow-products--wrapper .woocommerce .products{width:800%;gap:0;}
#main .container .sale-products.slideshow.section .slideshow-products--wrapper .woocommerce .products .product{border:none!important;}
#main .container .sale-products.slideshow.section .slideshow-products--wrapper .woocommerce .products .product:before{box-shadow:none!important;}
#main .container .sale-products.slideshow.section .slideshow-products--wrapper .woocommerce .products .product:hover:before{box-shadow:none!important;}
#main .container .sale-products.slideshow.section .slideshow-products--wrapper .woocommerce .products .product .products-list__item{grid-template-columns:120px 1fr;grid-template-rows:1fr auto auto;gap:15px 20px;border:none!important;}
#main .container .sale-products.slideshow.section .slideshow-products--wrapper .woocommerce .products .product .products-list__item .product-card__info{padding:0;}
#main .container .sale-products.slideshow.section .slideshow-products--wrapper .woocommerce .products .product .products-list__item .woocommerce-LoopProduct-link.woocommerce-loop-product__link{grid-row:1/4;align-self:center;padding:0;}
#main .container .sale-products.slideshow.section .slideshow-products--wrapper .woocommerce .products .product .products-list__item .price{padding:0;}
#main .container .sale-products.slideshow.section .slideshow-products--wrapper .woocommerce .products .product .products-list__item .product-card__buttons{position:relative;max-height:300px;padding:0;padding-top:15px;border:none!important;width:100%!important;}
#main .container .sale-products.slideshow.section .slideshow-products--wrapper .woocommerce .products .product:hover .products-list__item .product-card__buttons{bottom:0;max-height:300px;padding:0;padding-top:15px;border:none!important;width:100%!important;}
#main .container .sale-products.slideshow.section .slideshow-products--wrapper .woocommerce .products .product:hover .products-list__item{border:none!important;}

/* slideshow · blog */
#main .container .blog.slideshow.section{width:var(--breakpoint);overflow:hidden;padding-left:0;list-style:none;}
#main .container .blog.slideshow.section .posts{display:flex;width:800%;margin-bottom:var(--margin-bottom--post);transition:all .3s ease;}
#main .container .blog.slideshow.section .posts .post .thumbnail{width:100%;margin-bottom:14px;}
#main .container .blog.slideshow.section .posts .post .content .publicate-date_widget{color:#adadad;font-size:14px;}
#main .container .blog.slideshow.section .posts .post .content .permalink{margin-top:4px;}
#main .container .blog.slideshow.section .posts .post .content .permalink h3{font-size:18px;color:var(--wp--preset--color--title);}
#main .container .blog.slideshow.section .posts .post .content > p{margin-top:12px;font-size:15px;line-height:24px;}

@media(min-width:768px){
    /* slideshow */
    #main .container .featured-products.slideshow.section{width:var(--breakpoint);}
    #main .container .featured-products.slideshow.section .slideshow-products--wrapper .woocommerce{width:calc(100% + 14px);}
    #main .container .featured-products.slideshow.section .slideshow-products--wrapper .woocommerce .products{width:266%;}
    #main .container .featured-products.slideshow.section .slideshow-products--wrapper .woocommerce .products li{width:calc(100% - 14px);}
    #main .container .sale-products.slideshow.section .slideshow-products--wrapper .woocommerce .products{width:400%;}
    #main .container .blog.slideshow.section .posts{width:400%;gap:15px;}
    #main .container .blog.slideshow.section .posts .post{display:grid;grid-template-columns:240px 1fr;gap:22px;}
}

@media(min-width:1024px){
    #main .container .featured-products.slideshow.section .slideshow-products--wrapper .woocommerce .products{width:200%;}
    #main .container .sale-products.slideshow.section .slideshow-products--wrapper .woocommerce .products .product .products-list__item{grid-template-columns:160px 1fr;}
    #main .container .blog.slideshow.section .posts .post{grid-template-columns:210px 1fr;}
    #main .container .blog.slideshow.section .posts .post .content .permalink h3{font-size:15px;}
}