ul.products{margin-bottom:var(--margin-bottom--post); padding:0; list-style:none; display:grid; grid-template-columns:var(--grid-template-columns--lists);gap:var(--gap--lists);}
ul.products li:before{content:'';display:block;position:absolute;left:0;top:0;width:100%;height:100%;z-index:1;pointer-events:none;border-radius:2px;box-shadow:var(--wp--preset--shadow--product);transition:all .3s ease;}
ul.products li:hover:before{box-shadow:var(--wp--preset--shadow--product-hover);}
ul.products li{position:relative;transition:all .3s ease;}
ul.products li .products-list__item{display:grid;grid-template-rows:1fr auto auto;height:100%;border:1px solid transparent;transition:all .3s ease;}

/* etiqueta de oferta */
ul.products li .onsale{position:absolute;top:var(--top--onsale);left:var(--left--onsale);font-size:11px;border-radius:1.5px;letter-spacing:.02em;line-height:1;padding:5px 8px 4px;font-weight:500;text-transform:uppercase;margin:0 4px 4px 0;background-color:#f33;color:#fff;}

/* imagen y link oficial al producto */
ul.products li .woocommerce-LoopProduct-link.woocommerce-loop-product__link{padding:var(--padding--link-to-product);display:block;align-self:baseline;}
ul.products li .woocommerce-LoopProduct-link.woocommerce-loop-product__link img{width:100%;aspect-ratio:1/1;object-fit:contain;}

/* título del producto y permalink */
ul.products li .product-card__info{padding:var(--padding--product-card-info);align-self:end;}
ul.products li .product-card__info .title-wrapper.product-permalink .woocommerce-loop-product__title{font-size:15px;color:var(--wp--preset--color--title);font-weight:400;transition:all .3s ease;line-height:19px;}
ul.products li .product-card__info .title-wrapper.product-permalink .woocommerce-loop-product__title:hover{color:var(--wp--preset--color--links);}

/* valoraciones */
ul.products li .product-card__info .star-rating{display:flex;align-items:center;gap:4px;margin:10px 8px 0 0;}
ul.products li .product-card__info .star-rating svg{width:12px; height:12px;}
ul.products li .product-card__info .star-rating .reviews{font-size:13px;color:#b3b3b3;margin-left:8px;transform:translateY(1px);}

/* precio */
ul.products li .price{display:flex;flex-direction:row-reverse;justify-content:flex-end;align-self:end;gap:5px;padding-bottom:var(--top--onsale);margin-top:14px;line-height:1;font-weight:700;font-size:16px;color:var(--wp--preset--color--title);}
ul.products li .price del{text-decoration:none;}
ul.products li .price del .woocommerce-Price-amount.amount bdi{color:#b3b3b3;font-weight:400;font-size:13px;text-decoration:line-through;}
ul.products li .price ins{text-decoration:none;}
ul.products li .price ins .woocommerce-Price-amount.amount bdi{color:#f33;}

/* agregar al carrito · wishlist */
ul.products li .product-card__buttons{position:var(--position--product-card__buttons);bottom:0;width:100%;padding:var(--padding--product-card__buttons);background-color:var(--wp--preset--color--background);max-height:var(--max-height--product-card__buttons);overflow:hidden;transition:all .3s ease;display:flex;align-items:center;gap:7px;}
ul.products li .product-card__buttons > *{margin:0;}
ul.products li .product-card__buttons :is(.button.product_type_simple.add_to_cart_button.ajax_add_to_cart,.button.button.product_type_variable.add_to_cart_button,.button.product_type_simple){
    display:inline-block;
    text-align:center;
    vertical-align:middle;
    user-select:none;
    -webkit-appearance:button;
    text-transform:none;
    overflow:visible;
    font-family:var(--wp--preset--font-family--body);
    font-size:1rem;
    height:calc(2.25rem + 2px);
    line-height:1.5;
    padding:.375rem 1.25rem;
    font-weight:500;
    background-color:var(--wp--preset--color--primary-color-emphasis);
    border:1px solid var(--wp--preset--color--primary-color-emphasis);
    color:var(--wp--preset--color--text);
    fill:var(--wp--preset--color--text);
    border-radius:var(--border-radius--button);
    transition:all .3s ease-in-out;
}
ul.products li .product-card__buttons :is(.button.product_type_simple.add_to_cart_button.ajax_add_to_cart:hover,.button.button.product_type_variable.add_to_cart_button:hover,.button.product_type_simple:hover){
    background-color:var(--wp--preset--color--title);
    border-color:var(--wp--preset--color--title);
    color:#fff;}
ul.products li .product-card__buttons .yith-wcwl-add-button,
ul.products li .product-card__buttons .yith-wcwl-add-to-wishlist .feedback{width:calc(24px + 2px);aspect-ratio:1/1;display:grid;place-content:center;background-color:var(--wp--preset--color--line);transition:all .3s ease;}
ul.products li .product-card__buttons .yith-wcwl-add-button:hover{background-color:var(--wp--preset--color--border-input);}
ul.products li .product-card__buttons .yith-wcwl-add-button > a i{margin:0;color:var(--wp--preset--color--text);}
ul.products li .product-card__buttons .yith-wcwl-add-button:hover > a i{margin:0;color:var(--wp--preset--color--title);}
ul.products li .product-card__buttons .yith-wcwl-add-to-wishlist .feedback .yith-wcwl-icon{margin:0;}