/* breadcrumb */
.woocommerce-breadcrumb{display:inline-flex; align-items:center; flex-wrap:wrap; gap:0 12px; color:var(--wp--preset--color--attenuated); fill:var(--wp--preset--color--attenuated); padding:16px 0 32px;}
.woocommerce-breadcrumb a{color:var(--wp--preset--color--text); transition:all .3s ease;}
.woocommerce-breadcrumb a:hover{color:var(--wp--preset--color--links);}

/* sumario */
.container.summary{margin-bottom:var(--margin-bottom--post);}
.container.summary .section .product{position:relative;display:grid;grid-template-columns:repeat(auto-fill, minmax(400px, 1fr));gap:50px;}
    /* oferta */
    .container.summary .section .product .onsale{position:absolute;top:0;right:0;font-size:11px;border-radius:.150px;letter-spacing:.02em;line-height:1;padding:5px 8px 4px;font-weight:500;text-transform:uppercase;background-color:#f33;color:#fff;}
    /* galería */
    .woocommerce-product-gallery{position:relative; opacity:1; transition:opacity 0.25s ease-in-out 0s;}
    .woocommerce-product-gallery__image{position:relative; overflow:hidden;}
    .woocommerce img, .woocommerce-page img{height:auto; max-width:100%;}
    .woocommerce-product-gallery__image .zoomImg{
        position: absolute;
        top: 0px;
        left: 0px;
        opacity: 0;
        width: 1080px;
        height: 1080px;
        border: none;
        max-width: none;
        max-height: none;
    }
    /* icono de zoom de la galería */


    /* miniaturas de fotos */
    .flex-control-nav{padding-left:0; list-style:none; display:flex; gap:20px; width:100%; margin-top:20px;}
    .flex-control-nav li{width:100px;}
    .flex-control-nav li img{border:2px solid #f2f2f2;}
    .flex-control-nav li img.flex-active{border:2px solid var(--wp--preset--color--yellow);}

    /* sumario */
    .entry-summary .product_title{color:var(--wp--preset--color--text); margin-bottom:20px;}
    /* calificación */
    .entry-summary .woocommerce-product-rating{display:flex; align-items:center; gap:15px;}
    .entry-summary .woocommerce-product-rating .star-rating{display:flex; align-items:center; gap:5px;}
    .entry-summary .woocommerce-product-rating .star-rating svg{width:12px; height:12px; color:var(--wp--preset--color--attenuated);}
    .entry-summary .woocommerce-product-rating .star-rating svg.bi-star-fill{color:var(--wp--preset--color--green);}
    .entry-summary .woocommerce-review-link{color:var(--wp--preset--color--attenuated); transition:all .3s ease;}
    .entry-summary .woocommerce-review-link:hover{color:var(--wp--preset--color--links);}
    /* descripción corta */
    .entry-summary .woocommerce-product-details__short-description{padding-bottom:16px; margin-bottom:16px; border-bottom:1px solid var(--wp--preset--color--line);}
    .entry-summary .woocommerce-product-details__short-description p{color:var(--wp--preset--color--text); line-height:1.5;}
    /* metadatos */
    .entry-summary .product_meta{display:inline-flex; gap:0 20px; flex-wrap:wrap; margin-left:7px; margin-bottom:20px; color:var(--wp--preset--color--attenuated);}
    .entry-summary .product_meta a{color:var(--wp--preset--color--green); transition:all .3s ease;}
    .entry-summary .product_meta a:hover{color:var(--wp--preset--color--links);}
    /* precio */
    .entry-summary .price{display:flex; gap:5px; flex-direction:row-reverse; align-items:baseline; justify-content:flex-end; margin:0 0 14px;}
    .entry-summary .price .woocommerce-Price-amount.amount bdi{font-weight:700; font-size:28px; font-weight:700; color:var(--wp--preset--color--text);}
    .entry-summary .price ins{text-decoration:none;}
    .entry-summary .price ins .woocommerce-Price-amount.amount bdi{font-weight:700; font-size:28px; color:red;}
    .entry-summary .price del{text-decoration:none; position:relative;}
    .entry-summary .price del:after{position:absolute; content:''; width:100%; height:1px; background-color:var(--wp--preset--color--attenuated); top:40%; left:0;}
    .entry-summary .price del .woocommerce-Price-amount.amount bdi{font-weight:400; font-size:18px; color:var(--wp--preset--color--attenuated);}
    /* agregar al carrito */
    .single-product main .entry-summary .cart input[type=submit], 
    .single-product main .entry-summary .cart button.single_add_to_cart_button{
        font-size: 1.125rem;
        font-family:var(--wp--preset--font-family--system-font);
        height: calc(2.75rem + 2px);
        padding: .8125rem 2rem;
        line-height: 1;
        font-weight: 500;
        border:1px solid var(--wp--preset--color--primary-color-emphasis);
        background:var(--wp--preset--color--primary-color-emphasis);
        color:var(--wp--preset--color--text);
        fill:var(--wp--preset--color--text);
        border-radius:var(--border-radius--button);
        transition:all .3s ease;
    }
    .single-product main .entry-summary .cart button.single_add_to_cart_button:hover{background:var(--wp--preset--color--text);border-color:var(--wp--preset--color--text);color:#fff;}
    .single-product main .entry-summary .yith-wcwl-add-to-wishlist .feedback .yith-wcwl-icon{margin-right:0;}
    .entry-summary .cart-wishlist--wrapper{display:inline-flex;align-items:end;width:100%;margin-bottom:10px;}
    .entry-summary .variations_form.cart{}
    .entry-summary .cart{display:inline-flex; align-items:center; gap:10px;margin-bottom:3px;}
    .entry-summary .woocommerce-variation-add-to-cart{display:flex; gap:20px;}
    /* wishlist */
    .entry-summary .yith-wcwl-add-to-wishlist{display:inline-flex; margin-top:0; margin-top:0; position:relative; top:-3px; margin-left:6px;}
    .entry-summary .yith-wcwl-add-button,
    .entry-summary .yith-wcwl-wishlistexistsbrowse{display:grid; place-content:center; width:46px; height:46px; background-color:var(--wp--preset--color--line); border-radius:2px;}
    .entry-summary .yith-wcwl-add-button > a i{color:var(--wp--preset--color--text); margin-right:0!important;}

/* notificaciones */
.container.notices{background-color:#bde5a1;}
.container.notices .section .wc-block-components-notice-banner.is-success{margin:0;border-radius:0;border:none;background-color:transparent;width:var(--breakpoint);margin-inline:auto;padding:12px 0!important;color:#34402d;font-size:15px;}
.container.notices .section .wc-block-components-notice-banner.is-success a{text-decoration:none;background:hsla(0,0%,100%,.5);opacity:1;border-radius:2px;box-decoration-break:clone;-webkit-box-decoration-break:clone;padding:0 3px!important;transition:all .3s ease;}
.container.notices .section .wc-block-components-notice-banner.is-success a:hover{background:hsla(0,0%,100%,1);}

/* pestañas */
.container.tabs{margin-bottom:var(--margin-bottom--post);}
    /* tabs de contenido extra */
    .tabs.wc-tabs{margin:0; padding:0; list-style:none; display:flex; align-items:center; justify-content:center; position: relative; top:2px;}
    .tabs.wc-tabs .reviews_tab.active a{border-bottom:2px solid var(--wp--preset--color--yellow);}
    .tabs.wc-tabs a{display:flex; align-items:center; padding:0 48px; height:68px; font-size:20px; font-weight:700; color:var(--wp--preset--color--text); border-bottom:2px solid transparent;}
    .tabs.wc-tabs a:hover{background-color:#f2f2f2; border-bottom:2px solid #e0e0e0; color:var(--wp--preset--color--text);}
    .tabs.wc-tabs a:focus{box-shadow:none;}

    /* descripción del producto */
    .woocommerce-Tabs-panel--description > *{line-height:1.7;}
    .woocommerce-Tabs-panel--description > *:not(:last-child){margin-bottom:17px;}

    #comments > *{margin-bottom:16px;}
    #respond > *{margin-bottom:16px;}

    /* información adicional y valoraciones */
    .woocommerce-Tabs-panel--additional_information,
    #tab-reviews{padding:24px;}
    .woocommerce-Tabs-panel--additional_information h2,
    #comments .woocommerce-Reviews-title,
    #reply-title{display:block; font-size:28px; margin-bottom:32px; font-weight:700;}
    #commentform .comment-form-cookies-consent{line-height:1.5;}
        /* tabla */
        .woocommerce-product-attributes{border-collapse:separate; text-align:left; border-spacing:0;}
        .woocommerce-product-attributes :is(thead, tbody) :is(th, td){padding:18px 24px; box-sizing:border-box; text-align:right;}
        .woocommerce-product-attributes :is(thead, tbody) tr:nth-child(odd){background-color:rgba(0,0,0,.05);}
        /* estrellas · mirar en icons.php */
        .comment-form-rating{display:grid; gap:5px;}
        .comment-form-rating p.stars a{font-size:0; display:inline-flex;}
        .comment-form-rating p.stars a:not(:last-child){margin-right:7px;}
        .comment-form-rating p.stars a:before{position:relative; padding:10px; display:inline-block; transition:all .3s ease;}
        .comment-form-rating p.stars a:focus{box-shadow:none;}
        /* comentarios */
        .commentlist li:not(:first-child){border-top:none;}
        .commentlist li .comment_container{position:relative;}
        .commentlist li .comment_container img{border-radius:50%; position:absolute; top:0; left:0; display:var(--display--avatar);}
        .commentlist li .comment_container .comment-text{text-align:left; font-size:16px; padding-bottom:28px; margin:var(--margin--comment-text);}
        .commentlist li:not(:last-child) .comment_container .comment-text{border-bottom:1px solid #f0f0f0;}
        .commentlist li .comment_container .comment-text .star-rating{position:absolute; top:0; right:0;}
        .commentlist li .comment_container .comment-text .meta{display:grid;}
        .commentlist li .comment_container .comment-text .meta .woocommerce-review__author{color:var(--wp--preset--color--title); font-size:18px;}
        .commentlist li .comment_container .comment-text .meta .woocommerce-review__dash{display:none;}
        .commentlist li .comment_container .comment-text .meta .woocommerce-review__published-date{color:#a1a1a1; font-size:14px;}
        .commentlist li .comment_container .comment-text .description{padding-top:19px; color:var(--wp--preset--color--text); font-size:16px;}

    /* tabs */
    .woocommerce-Tabs-panel{border:2px solid var(--wp--preset--color--border); padding:24px; border-radius:2px;}
    .wc-tabs_wrapper{display:grid; gap:30px;}


/* productos relacionados */
.container.related.products{margin-bottom:var(--margin-bottom--post);}
.container.related.products .section .related.products{overflow-x:hidden;}
.container.related.products .section .related.products > h2{position:relative;margin-bottom:20px;display:inline-block;}
.container.related.products .section .related.products > h2:after{position:absolute;top:50%;left:calc(100% + 16px);width:360%;content:'';height:2px;background-color:var(--wp--preset--color--line);}
.container.related.products .section .related.products ul.products{grid-template-columns:repeat(auto-fill, minmax(200px, 1fr));margin-bottom:66px;}
.container.related.products .section .related.products ul.products li .product-card__buttons :is(.button.product_type_simple.add_to_cart_button.ajax_add_to_cart,.button.button.product_type_variable.add_to_cart_button,.button.product_type_simple){
    font-size: .8125rem;
    height: calc(1.5rem + 2px);
    line-height: 1.25;
    padding: .25rem .5625rem;
    font-weight: 500;
}
.container.related.products .section .related.products li .product-card__info .star-rating .reviews{font-size:11px;}



@media(min-width:768px){
    /* Información adicional y valoraciones */
    .woocommerce-Tabs-panel--additional_information,
    #tab-reviews{padding:40px 50px;}
    .woocommerce-Tabs-panel--additional_information h2,
    #comments .woocommerce-Reviews-title,
    #reply-title{margin-bottom:50px;}
    #commentform{display:grid; grid-template-columns:repeat(3, 1fr); gap:15px; max-width:617.33px;}
    #commentform .comment-notes{grid-column:1/-1;}
    #commentform .comment-form-comment{grid-column:1/-1;}
    #commentform .comment-form-author{grid-column:2/3; grid-row:2/3;}
    #commentform .comment-form-email{grid-column:3/4; grid-row:2/3;}
    #commentform .comment-form-cookies-consent{grid-column:1/-1;}
}



@media(min-width:1024px){
    /* información adicional y valoraciones */
    .woocommerce-Tabs-panel--additional_information,
    #tab-reviews{padding:60px 70px;}
}