.post-header .post-categories {
    justify-content: start;
    margin-top: 0;
    margin-bottom: 0;
}

.post-header .main-title {
    text-align: left;
    max-width: 100%;
}

.post-header .container__post-data {
    margin-top: 0;
    margin-bottom: 16px;
    justify-content: start;
}

.post-footer {
    padding-bottom: 30px;
}